/*
========
Global Styles
========
*/

/*
========
main
========
*/

main {
  margin: auto;
}

h2 {
  margin: auto;
  width: 40vw;
  text-align: center;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #17202A;
  color: #FBFCFC;
}

.container {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  margin: auto;
}

#btn {
  margin: auto;
  background-color: rgba(0, 0, 0, .1);
  color: #17202A;
  padding: .5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
  font-weight: 700;
}



/*
========
nav
========
*/

.nav-center {
  display: flex;
  width: 90vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

nav a:hover{
  color: lightblue;
}